<div class="footer-background">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
<footer>
    <div class="footer">
        <div class="footer-menu">
            <div class="footer-logo">
                <a href="{{ path('app_homepage') }}" title="Logilink">
                    <img src="{{ asset('build/app/images/logo_ace_blanc.svg') }}" alt="Logo coach vie sportif"/>
                </a>
            </div>
            <div class="footer-items">
                <div class="footer-items-col-1">
                    <a href="">Accueil</a>
                    <div class="footer-services">
                        <span>Services</span>
                        <div class="indent">
                            <a href="{{ path('app_services', {'slug': "etudiants-lyceens"}) }}">Etudiants/Lycéens</a>
                            <a href="{{ path('app_services', {'slug': "entreprises"}) }}">Entreprises</a>
                            <a href="{{ path('app_services', {'slug': "particuliers"}) }}">Particuliers</a>
                            <a href="{{ path('app_services', {'slug': "sportifs"}) }}">Sportifs</a>
                        </div>
                    </div>

                </div>
                <div class="footer-items-col-2">
                    <a href="">A propos</a>
                    <a href="{{ path('app_ateliers') }}">Ateliers</a>
                    <a href="">Témoignages</a>
                    <a href="{{ path('app_actualites') }}">Actualités</a>
                    <a href="{{ path('app_contact') }}">Contact</a>
                </div>
            </div>
            <div class="footer-items">
                <a rel="nofollow" href="{{ path('app_mentions') }}">Mentions légales</a>
                <a rel="nofollow" href="{{ path('app_politique') }}">Politique de confidentialité</a>
                <a rel="nofollow" href="{{ path('app_cookies') }}">Gestion des cookies</a>
                <div class="sociaux">
                    <a href="https://www.linkedin.com/in/val%C3%A9rie-ternay-36030121" target="_blank" rel="nofollow">
                        <span class="icon-linkedin"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright 2021 - <span>Valérie Ternay</span></div>
    </div>
</footer>