{% extends 'app/pages/services/template.html.twig' %}

{% block title %}{{ service.title }} {{ parent() }}{% endblock %}

{% block main_content %}
    <div class="{{ service.slug }} custom-shape-divider" style="background: url({{ asset('build/app/images/' ~ service.file1) }}) no-repeat fixed; background-size: cover;">
        <div class="title-page" data-aos="fade-right" data-aos-delay="100">
            <div class="title-page-content">
                <p class="title">Seuls on va plus <br> vite, ensemble <br> on va plus loin</p>
            </div>
        </div>
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path class="shape-fill" d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"></path>
        </svg>
    </div>
    <div class="main-content">
        <h1 data-aos="fade-up">{{ service.title }}</h1>

        <div class="service-content">
            <div class="content" data-aos="fade-right">
                <div class="content-text">
                    {{ service.content | raw }}
                </div>

                <p class="seance">EN SÉANCE INDIVIDUELLE D’1H / POSSIBILITÉ DE GROUPES POUR LES ENTREPRISES</p>
                <p class="nb-seance">LE NOMBRE DE SÉANCES EST À DÉFINIR APRÈS LE 1ER ENTRETIEN.</p>
            </div>
            <div class="illustrations">
               <div class="illustrations-col-1">
                   <div>
                       <img class="img-1" data-aos="zoom-in" data-aos-delay="100" src="{{ asset('build/app/images/' ~ service.file2) }}" alt="Illustration service">
                   </div>
                   <div>
                       <img class="img-2" data-aos="zoom-in" data-aos-delay="150" src="{{ asset('build/app/images/' ~ service.file3) }}" alt="Illustration service">
                   </div>
               </div>
                <div class="illustrations-col-2">
                    <div>
                        <img class="img-3" data-aos="zoom-in" data-aos-delay="200" src="{{ asset('build/app/images/' ~ service.file4) }}" alt="Illustration service">
                    </div>
                    <div>
                        <img class="img-4" data-aos="zoom-in" data-aos-delay="250" src="{{ asset('build/app/images/' ~ service.file5) }}" alt="Illustration service">
                    </div>
                </div>
            </div>
        </div>

        {% include "app/layout/components/question.html.twig" with {
            'questionTitle': "Vous avez des questions concernant ce service ?",
            'url': path('app_contact', {'subject': service.slug})
        } %}
    </div>
{% endblock %}