{% extends 'app/layout/layout.html.twig' %}

{% block title %}Me contacter {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block main_content %}
    <div class="title-page-nostyle title-page">
        <div class="title-page-content">
            <h1>Je suis à votre écoute</h1>
            <p class="subtitle">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                dolor in hendrerit in vule dugait nulla facilisi.
            </p>
        </div>
    </div>
    <div class="title-page-wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
            <path fill="#E7EDF1" fill-opacity="1" d="M0,0L120,10.7C240,21,480,43,720,42.7C960,43,1200,21,1320,10.7L1440,0L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
        </svg>
    </div>
    <div class="main-content">
        <div class="contact-content">
            <h2 data-aos="fade-in">Contactez-moi directement !</h2>
            <p data-aos="fade-up">
                N’hésitez pas à me contacter pour plus d’informations sur les
                prestations ou les tarifs, merci de remplir le formulaire ou
                écrivez moi directement !
            </p>
            <div class="choice-contact">
                <div data-aos="zoom-in">
                    <span>Appelez-moi</span>
                    <a href="sms:0629480596">06 29 48 05 96</a>
                </div>
                <div data-aos="zoom-in">
                    <span>ENVOYEZ-MOI UN MAIL</span>
                    <a href="mailto:vternay@ace-coaching.fr">vternay@ace-coaching.fr</a>
                </div>
            </div>
        </div>
        <div id="contact" data-aos="fade-up" data-subject="{{ subject }}" data-atelier="{{ atelier }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}