{% extends 'app/layout/layout.html.twig' %}

{% block title %}A.C.E, Coach sportif, connectez vos rêves à la réalité | Valérie Ternay{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block main_content %}
    <div class="first">
        <div class="first-container">
            <h1>Et si votre futur se <br> conjugait au présent ?</h1>
        </div>
    </div>

    <div class="citation">
        <div class="citation-container">
            <p>Une personne est un processus vivant en train d’émerger et non un produit fini.</p>
            <p>Carl Rogers</p>
        </div>
    </div>

    <div class="main-services">
        <div class="main-services-container">
            <h2>Mes services</h2>
            <div class="main-services-box">
                <div class="item">
                    <div class="image">
                        <img src="{{ asset('build/app/images/service_etudiant.jpg') }}" alt="illustration etudiants">
                    </div>
                    <div class="content">
                        <h3>Etudiants/Lycéens</h3>
                        <p>
                            Vous vous sentez perdus dans
                            votre choix d’orientation ? Vous
                            avez du mal à vous organiser, en
                            manque de motivation ?
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="{{ asset('build/app/images/service_entreprise.jpg') }}" alt="illustration entreprise">
                    </div>
                    <div class="content">
                        <h3>Entreprises</h3>
                        <p>
                            Entrepeneurs, dirigeants,
                            managers, vous souhaitez
                            optimiser votre performance ?
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="{{ asset('build/app/images/service_particulier.jpg') }}" alt="illustration particulier">
                    </div>
                    <div class="content">
                        <h3>Particuliers</h3>
                        <p>
                            Vous avez un projet professionnel
                            ou personnel à réaliser qui vous
                            tient à coeur ?
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="{{ asset('build/app/images/service_sportif.jpg') }}" alt="illustration sportif">
                    </div>
                    <div class="content">
                        <h3>Sportif</h3>
                        <p>
                            L’un des facteurs clé de votre
                            réussite : la préparation mentale
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="who">
        <div class="who-container">
            <h2>Qui suis-je ?</h2>
            <div class="content">
                <p>

                </p>

            </div>
            <p>

            </p>
        </div>
    </div>

    <div class="temoignages">
        <h2>témoignages</h2>

        <div class="temoignages-slider">
            <div class="temoignages-items">

            </div>
        </div>
    </div>

    <div class="main-actualites">
        <div class="main-actualites-container">
            <h2>Actualités</h2>
            <p>
                Découvrez de nouveaux contenus chaque semaine, ces articles sauront mettre en
                lumière différents sujets comme orientation, performance, confiance, prise de parole...
                N’hésitez pas à échanger avec moi !
            </p>
            {% if article is defined %}
                <div class="main-actualites-box">
                    <div class="items-table">
                        <div class="items items-default items-user">
                            <div class="item">
                                <div class="item-content">
                                    <div class="item-body">
                                        <a href="{{ path('app_actualites') }}" class="infos">
                                        <div class="image">
                                            <div class="cat">
                                                <span>{{ article.category.name }}</span>
                                            </div>
                                            <img src="{{ asset("articles/" ~ article.file) }}">
                                        </div>
                                        <div class="article">
                                            <div class="name">
                                                <span>{{ article.title }}</span>
                                            </div>
                                            <div class="content-wrap">
                                                <p>
                                                    {{ article.introduction | raw }}...
                                                </p>
                                            </div>
                                            <div class="createdAt">{{ article.createAtString }}</div>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="main-actualites-box">
                    <div>
                        <a href="{{ path('app_actualites') }}" class="btn btn-primary">Voir les articles</a>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="custom-shape-divider">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path class="shape-fill" d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"></path>
            </svg>
        </div>
    </div>

    <div class="contact">
        <div>
            <h2>Contactez-moi !</h2>
            <p>
                Pour plus d’informations sur les prestations ou les tarifs, merci de remplir le formulaire
                ou écrivez moi directement
            </p>

            <div class="choice-contact">
                <div>
                    <span>06 29 48 05 96</span>
                </div>
                <div>
                    <span>vternay@ace-coaching.fr</span>
                </div>
            </div>
        </div>
        <div id="contact"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}